<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>물품 신고 폼</title>
    <link rel="stylesheet" href="../static/css/LostFound.css" />
</head>
<body>
   

<div class="form-container">
 <a class="back-button" href="javascript:window.history.back()">← 뒤로가기</a>

    <div class="form-title">습득한 물건에 대해 적어주세요</div>

    <div class="form-group">
        <label>물품 사진 (공개)</label>
        <input type="file" id="fileInput" class="real-file" accept="image/*" />
    </div>

    <div class="form-group">
        <label>물품명 (공개)</label>
        <input type="text" placeholder="예: 에어팟 프로 2" />
    </div>

    <div class="form-group">
        <label>공지 제목 (공개)</label>
        <input type="text" placeholder="게시글 제목을 입력하세요" />
    </div>

    <div class="form-group">
        <label>내용 및 특이사항 (비공개)</label>
        <textarea placeholder="비공개로 저장됩니다. 자세한 내용을 적어주세요."></textarea>
    </div>

    <button class="submit-btn">등록하기</button>
</div>
</body>
</html>
