<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>분실물 상세보기</title>
<link rel="stylesheet" href="../static/css/Notice_LostFound.css">
</head>
<body>
  <div class="container">
    <h1 id="title">제목 불러오는 중...</h1>
    <div class="meta" id="meta"></div>

    <div class="photo" id="photo">사진 불러오는 중...</div>

    <div class="info-box">
      <div class="info-title">물품명</div>
      <div class="info-text" id="item">-</div>
    </div>

    <div class="info-box">
      <div class="info-title">장소</div>
      <div class="info-text" id="place">-</div>
    </div>

    <div class="info-box">
      <div class="info-title">설명 / 특이사항</div>
      <div class="info-text" id="content">-</div>
    </div>

    <a href="javascript:window.history.back()" class="back">← 목록으로 돌아가기</a>
  </div>

  
</body>
</html>